<div class="container-fluid">
  <h1>
    White Board
  </h1>


  <div class="btn-group" role="group" aria-label="Basic example">
    <button  *ngIf="!loggedin" type="button" class="btn btn-warning">
      <a routerLink="/login">Login</a>
    </button>
    <button *ngIf="!loggedin" type="button" class="btn btn-warning">
      <a routerLink="/register">Register</a>
    </button>
    <button *ngIf="loggedin" type="button" class="btn btn-danger">
      <a (click)="logout()">Logout</a>
    </button>
  </div>
  <app-course-grid *ngIf="loggedin"></app-course-grid>
</div>
