<div class="container-fluid">
  <h1>
    White Board
  </h1>


  <div class="btn-group" role="group" aria-label="Basic example">
    <button  *ngIf="!loggedin" type="button" class="btn btn-warning">
      <a routerLink="/login">Login</a>
    </button>
    <button *ngIf="!loggedin" type="button" class="btn btn-warning">
      <a routerLink="/register">Register</a>
    </button>

    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.username}}
      </button>
      <div  *ngIf="loggedin" class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item bg-danger text-white" href="#">
            <a (click)="logout()">Logout</a>
        </a>
        <a class="dropdown-item bg-warning text-white" href="/profile">
          Profile
        </a>
      </div>
    </div>
  </div>
  <app-course-grid *ngIf="loggedin"></app-course-grid>
</div>
