<div class="container-fluid">
  <div class="container">
    <div class="wrapper">
      <div name="Login_Form" class="form-signin">
        <h3 class="form-signin-heading">WELCOME STUDENTS!</h3>
        <hr class="colorgraph">
        <br>

        <div class="form-group">

          <input [(ngModel)]="username"
                 placeholder="username"
                 class="form-control"/>
          <input [(ngModel)]="password"
                 placeholder="password"
                 class="form-control"/>

        </div>

        <div class="register-btn">
          <button (click)="login(username, password)"
                  class="btn btn-success btn-block">
            Login
          </button>
        </div>
        <a href="#" routerLink="/register" target="_blank">New to WhiteBoard?</a>
        <br/>

      </div>
    </div>
  </div>

</div>
