<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="email"
         placeholder="email"
         class="form-control"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>
  <div *ngIf="user.userRole != 'admin'">
    <h2>My Courses ({{sections.length}})</h2>

    <ul class="list-group">
      <li *ngFor="let enrollment of sections"
          routerLink="/course/{{enrollment.section.courseId}}"
          class="list-group-item d-flex justify-content-around align-items-center">
        Course {{enrollment.section != null && enrollment.section.courseId}} - {{enrollment.section.name}}
        <span class="badge badge-primary badge-pill">{{enrollment.section.seats}} seats available</span>
        <button
          class="btn btn-outline-secondary"
          (click)="unenroll(enrollment.section)">
          Unenroll
        </button>
      </li>
    </ul>
  </div>

</div>
