<div class="container-fluid">
  <div class = "container">
    <div class="wrapper">
      <div name="Login_Form" class="form-signin">
        <h3 class="form-signin-heading">REGISTER FOR WHITEBOARD!</h3>
        <hr class="colorgraph"><br>

        <div class="form-group">

          <input [(ngModel)]="username"
                 placeholder="username"
                 class="form-control"/>
          <input [(ngModel)]="password"
                 placeholder="password"
                 class="form-control"/>
          <input [(ngModel)]="password2"
                 placeholder="verify password"
                 class="form-control"/>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Role</label>
            </div>
            <select [(ngModel)]="userRole" class="custom-select" id="inputGroupSelect01">
              <option value="student">Student</option>
              <option value="admin">Admin</option>
            </select>
          </div>

        </div>

        <div class="register-btn">
          <button type="button" id="createBtn" class="btn btn-danger btn-block"
                  (click)="register(username, password, password2, userRole)">

            Register
          </button>
        </div>
        <a href="#" routerLink="/login" target="_blank">Already a user? Log in!</a>
        <br/>
        <a href="#" routerLink="/home">Home</a>

      </div>
    </div>
  </div>

</div>
